.main {
    display: flex;
    flex-direction: row;
  
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  .item {
    min-width: 290px;
    flex: 1 0;
    margin: 10px  50px;
  }
  
  .item1 {
    flex: 4 0;
    margin: 10px  50px;
  }
  .pets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
  
  }
  